* {
  padding: 0;
  margin: 0;
}
body {
  /* background-color: black;
  color: white; */
}
.navbar {
  background-color: black;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar > * {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 7%;
}
.logo > img {
  width: 35%;
}
.home-search {
  width: 40%;
  background-color: red;
}
.home-search > * {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-search > .home {
  width: 10%;
  background-color: blue;
}
.home-search > .home > img {
  width: 40%;
}
.home-search .search {
  width: 90%;
  background-color: yellow;
}
.home-search > .search > img {
  width: 7%;
}
.home-search > .search > input {
  width: 100%;
}
